= provide(:title, 'Edit Movie')
%h2 Edit details for #{@movie.title}
= form_tag({:controller => :movies, :action => :update}, :method => :put) do
  %table#edit_movie
    %thead
    %tbody
      %tr
        %td= label_tag(:q, 'title:')
        %td= text_field_tag(:title, @movie.title)
      %tr
        %td= label_tag(:q, 'rating:')
        %td= text_field_tag(:rating, @movie.rating)
      %tr
        %td= label_tag(:q, 'release date:')
        %td= text_field_tag(:release_date, @movie.date_formatted)
      %tr
        %td= label_tag(:q, 'description:')
        %td= text_field_tag(:description, @movie.description)
  = submit_tag('Save')
= link_to 'Back to Index', movies_path
