=flash.notice

%h2=link_to 'All Movies', movies_path, :class => :link, :id => :all_movies_link
%table#movies
  %thead
    %tr
      - Movie.accessible_attributes.each do |attr|
        -unless attr.empty?
          - if @sort== attr
            %th.highlight= attr.to_s.titleize
          - else
            %th= link_to attr.to_s.titleize, movies_path(:sort_by => attr), :method => :get, :class => :link
  %tbody
    - @movies.each do |movie|
      %tr
        %td= movie.title
        %td= movie.rating
        %td= movie.date_formatted
        %td= link_to "More about #{movie.title}", movie_path(movie), :class => :more_info_link
= link_to 'Create new movie', new_movie_path, :method => :get, :class => :link, :id => :new_movie_link
