= provide(:title, 'New Movie')
%h2 Create new movie
= form_for @movie do |movie|
  %table#new_movie
    %thead
      %tr
        %th Movie Title
        %th Rating
        %th Release Date
        %th Description
    %tbody
      %tr
        %td= movie.text_field :title
        %td= movie.text_field :rating
        %td= movie.text_field :release_date
        %td= movie.text_field :description
  = movie.submit 'Create'
= link_to 'Back to Index', movies_path
